.main {
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  .menuLeft {
    display: flex;
    min-width: 350px;
    align-items: center;
    .dataAuthor {
      display: grid;
      margin-left: 10px;
    }
  }
  .menuRigth {
    display: flex;
  }
}
.body {
  max-width: 600px;
  strong {
    display: block;
    font-weight: 700;
    padding: 0;
    margin: 0 0 10px;
    font-size: 34px;
    line-height: 40px;
  }
  span {
    font-size: 14px;
    margin: 16px 0 0;
    line-height: 18px;
    color: rgba(179, 114, 114, 0.8);
  }
  p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 28px;
  }
  img {
    width: 600px;
    height: 337.5px;
    border-radius: 8px;
  }
}
.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .footerLeft {
    display: flex;
    align-items: center;
    strong {
      margin-left: 5px;
    }
  }
  .footerRigth {
    display: flex;
    align-items: center;
  }
}
.categoryBlock {
  margin-top: 15px;
}
