.main {
  margin: 10px 0px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .headLeft {
    display: flex;
    min-width: 400px;

    .dataUser {
      margin-left: 20px;
      display: flex;
      align-items: center;
      strong {
        margin-left: 5px;
        font-size: 18px;
      }
    }
  }
}

.body {
  .bodyTitle {
    margin-top: 25px;
  }
  .bodyText {
    margin: 10px 0;
  }
}
